APP_ENV=production
APP_URL=https://panel.tudominio.com
SECRET_KEY=CHANGE_ME_64
JWT_SECRET=CHANGE_ME_64

DB_HOST=localhost
DB_PORT=3306
DB_NAME=bizonmdm
DB_USER=bizon
DB_PASSWORD=CHANGE_ME

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=noreply@tudominio.com

FCM_KEY=
CORS_ALLOW_ORIGINS=https://panel.tudominio.com
