*.iml
# Mobile app
mobile/.gradle
mobile/local.properties
mobile/.idea/caches
mobile/.idea/libraries
mobile/.idea/modules.xml
mobile/.idea/workspace.xml
mobile/.idea/navEditor.xml
mobile/.idea/assetWizardSettings.xml
mobile/build
mobile/captures
mobile/.externalNativeBuild
mobile/.cxx

# General
.DS_Store
local.properties
__pycache__/
*.db

# Frontend
node_modules/
dist/
next/
public/uploads/

