.idea/
.kotlin/
*.zip
node_modules/
dist/
build/
.env
__pycache__/
*.pyc
# Additional ignores
*.iml
.gradle/
local.properties
.DS_Store
captures/
.cxx/
server/.installed
panel/.installed
**/config.ini
*.sqlite
fcm_key.txt
